body {
  background-color: gray;
  background-color: rgba(162, 214, 113, 1);
  background-color: #339966
}

#routerUl {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 3em;
  margin-bottom: 1em;
}

#routerUl:hover {
  cursor: pointer;
}

li {
  padding: 1em;
  background-color: black;
}

a {
  color: white;
}

#aboutSection {
  text-align: center;
}

#aboutText {
  position: relative;
  bottom: 26em;  
  color: white;
  opacity: 1;
}

#aboutImg {
  height: 42em;
  opacity: 0.8;
  position: relative;
  margin-top: 1em;
}

#portfolioSection {
  margin-top: 1em;
  position: relative;
  top: 4em;
}

#portfolioDescription {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 8em;
}

#portfolioDescriptionText {
  margin-bottom: 5em;
}

#portfolioTitle {
  text-align: center;
  margin-bottom: 5em;
}

.portfolioSubText {
  text-align: center;
  margin-bottom: 1.5em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.imgDiv {
  text-align: center;
}

.thumbnailImg {
    height: 21em;
    width: 36em;
    margin-left: 0.5em;
    margin-right: 0.5em; 
    border: 0.3em solid white;
}

.thumbnailText {
    color: black;
    text-decoration: underline;
}

#contactSection {
  margin-top: 5em;
  text-align: center;
}

#contactIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#linkedIn {

}

#gMail {
  position: relative;
}

#LinkedIn_Icon {
  height: 80px;
  width: 80px;
  margin-right: 1em;
}

#gMailIcon {
  height: 90px;
  width: 100px;
  position: relative;
  margin-left: 1em;
}

#footer {
  text-align: center;
  margin-top: -6em;
}